name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Corne (Nice!Nano v2)
        uses: zmkfirmware/zmk-build-action@v1
        with:
          board: nice_nano_v2
          shield: corne_left corne_right
          keymap: config/corne.keymap
