name: Build ZMK firmware

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build firmware
        uses: zmkfirmware/zmk-build-action@v1
        with:
          board: nice_nano
          shield: corne_left corne_right
