name: Build ZMK firmware

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable

    strategy:
      fail-fast: false
      matrix:
        include:
          - board: nice_nano_v2
            shield: corne_left
          - board: nice_nano_v2
            shield: corne_right

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: West Zephyr Export
        run: west zephyr-export

      - name: Build (${{ matrix.shield }})
        run: |
          west build -s zmk/app -b ${{ matrix.board }} \
            -- -DSHIELD=${{ matrix.shield }} \
               -DZMK_CONFIG=${GITHUB_WORKSPACE}/config \

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.shield }}
          path: build/zephyr/zmk.uf2
